@model WebAppPeliculas.ViewModel.PeliculaViewModel

@{
    ViewData["Title"] = "Detalle Película";
}

<h1>@Html.DisplayFor(model => model.Peliculas[0].Titulo)<span> </span><span>(@Html.DisplayFor(model => model.Peliculas[0].FechaEstreno.Year))</span></h1><br />
<p>
    <span class="text-primary">
        @Html.DisplayFor(model => model.Peliculas[0].Genero.Descripcion)
    </span> |
    <span>
        @Html.DisplayFor(model => model.Peliculas[0].FechaEstreno.Day)
        @Html.DisplayFor(model => model.Peliculas[0].FechaEstreno.Month)
        @Html.DisplayFor(model => model.Peliculas[0].FechaEstreno.Year)
    </span> |
    <span>
        Promedio:
    </span> |
    <span>
        Tu voto:
    </span>
</p>

<div class="row">
    <div class="col-sm-3">
        <img src="~/images/peliculas/@Model.Peliculas[0].FotoCartel" id="image" height="300" width="247" asp-append-version="true" alt=@Html.DisplayFor(model => model.Peliculas[0].Titulo) />
    </div>
    <div class="col-sm-9 embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@Model.Peliculas[0].Trailer" height="300" width="700"></iframe>
    </div>
</div><br />

<h2>@Html.DisplayNameFor(model => model.Peliculas[0].Resumen)</h2><br />
<p>
    @Html.DisplayFor(model => model.Peliculas[0].Resumen)
</p>

<h2>Actores</h2><br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actores[0].FotoCarnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actores[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].PapelActor)
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div>
    <a class="btn btn-primary btn-lg btn-block" asp-action="Index">Regresar</a>
</div>


