@model WebAppPeliculas.Models.Pelicula

@{
    ViewData["Title"] = "Detalle Película";
}

<h1>@Html.DisplayFor(model => model.Titulo)<span> </span><span>(@Html.DisplayFor(model => model.FechaEstreno.Year))</span></h1><br />
<p>
    <span class="text-primary">
        @Html.DisplayFor(model => model.Genero.Descripcion)
    </span> |
    <span>
        @Html.DisplayFor(model => model.FechaEstreno.Day)
        @Html.DisplayFor(model => model.FechaEstreno.Month)
        @Html.DisplayFor(model => model.FechaEstreno.Year)
    </span> |
    <span>
        Promedio:
    </span> |
    <span>
        Tu voto:
    </span>
</p>

<div class="row">
    <div class="col-sm-3">
        <img src="~/images/peliculas/@Model.FotoCartel" id="image" height="300" width="247" asp-append-version="true" alt=@Html.DisplayFor(model => model.Titulo) />
    </div>
    <div class="col-sm-9 embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="@Model.Trailer" height="300" width="700"></iframe>
    </div>
</div><br />

<h2>@Html.DisplayNameFor(model => model.Resumen)</h2><br />
<p>
    @Html.DisplayFor(model => model.Resumen)
</p>

<h2>Actores</h2><br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].Actor.FotoCarnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].Actor.Nombre)
            </th>
            <th>
                Nombre papel
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PeliculasActores)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Actor.FotoCarnet)" id="image" height="80" width="80" asp-append-version="true" />
                    @Html.DisplayFor(modelItem => item.Actor.FotoCarnet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actor.Nombre)
                    @Html.DisplayFor(modelItem => item.Actor.Apellido)
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary btn-lg btn-block" asp-action="Index">Regresar</a>
</div>


