@model WebAppPeliculas.ViewModel.PeliculaViewModel

@{
    ViewData["Title"] = "Peliculas";
}

<h1>Películas</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Agregar Película</a>
</p>

<!-- Paginacion (Transformada a componente)-->
<partial name="_Paginador" for="@Model.Paginador" />

<h2>En cartelera</h2><br />

@if (Model.Paginador.TotalRegistros == 0)
{
    <h1>No hay películas en cartelera</h1>
}

<div class="row">
    @foreach (var item in Model.Peliculas)
    {
        <div class="text-center">
            @if (item.Cartelera == true)
            {
                <div class="col-sm-3">
                    <div class="card text-white border-success bg-dark rounded" style="width: 15rem">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/images/peliculas/@item.FotoCartel" height="260" width="207" asp-append-version="true" alt=@Html.DisplayFor(modelItem => item.Titulo) />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                            <div class="">
                                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div><br />

<h2>Próximos estrenos</h2><br />

@if (Model.Paginador.TotalRegistros == 0)
{
    <h1>No hay películas para próximos estrenos</h1>
}

<div class="row">
    @foreach (var item in Model.Peliculas)
    {
        <div class="text-center">
            @if (item.Cartelera == false)
            {
                <div class="col-sm-3">
                    <div class="card text-white border-danger bg-dark rounded" style="width: 15rem">
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <img src="~/images/peliculas/@item.FotoCartel" height="260" width="207" asp-append-version="true" alt=@Html.DisplayFor(modelItem => item.Titulo) />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Titulo)</h5>
                            <div class="">
                                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div><br />

