@model WebAppPeliculas.ViewModel.PeliculaViewModel

@{
    ViewData["Title"] = "Peliculas";
}

<h1>Peliculas</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Agregar Película</a>
</p>

<!-- Paginacion (Transformada a componente)-->
<partial name="_Paginador" for="@Model.Paginador" />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Peliculas[0].FotoCartel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peliculas[0].Titulo)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Peliculas)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">>@Html.DisplayFor(modelItem => item.FotoCartel)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
