@model WebAppPeliculas.ViewModel.PersonaViewModel

@{
    ViewData["Title"] = "Personas";
}

<h1>Personas</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Agregar Persona</a>
</p>

<!-- Paginacion (Transformada a componente)-->
<partial name="_Paginador" for="@Model.Paginador" />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personas[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personas[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personas[0].FechaNacimiento)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Personas)
        {
        <tr>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento.Day) /
                @Html.DisplayFor(modelItem => item.FechaNacimiento.Month) /
                @Html.DisplayFor(modelItem => item.FechaNacimiento.Year)
            </td>
            <td>
                <img src="~/images/personas/@item.FotoCarnet" height="90" width="90" asp-append-version="true" />
            </td>
        </tr>
        }
    </tbody>
</table>
