@model WebAppPeliculas.ViewModel.PeliculaActorViewModel

@{
    ViewData["Title"] = "Peliculas-Actores";
}

<h1>Películas - Actores</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Nueva</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].PapelActor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeliculasActores[0].Actor.FotoCarnet)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PeliculasActores) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Nombre)
                @Html.DisplayFor(modelItem => item.Actor.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PapelActor)
            </td>
            <td>
                <img src="~/images/personas/@item.Actor.FotoCarnet" height="90" width="90" asp-append-version="true" />
            </td>
        </tr>
}
    </tbody>
</table>
